<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/geral.css">
    <script
      src="https://kit.fontawesome.com/1051284148.js"
      crossorigin="anonymous"
    ></script>
    <!--Importação da Lupa-->

    <title>Produto</title>
  </head>
  <body>
    <header>
      <h1>Produtos</h1>
      <a href="/">Ecommerce</a>
      <a href="/">Shop</a>
      <a href="/">Stories</a>
      <a href="/">About</a>
      <i class="fa-solid fa-magnifying-glass"></i>

      <input type="text" placeholder="Search" />
      <i class="fa-solid fa-cart-shopping"></i> <!--Número/Quantidade no carrinho será colocado posteriormente-->

      <a href="/">Login</a>
    </header>

    <section class="sectionImage">
        <div>Box 1</div>
        <div>Box 2</div>
        <div>Box 3</div>
        <div>Box 4</div>
    </section>

    <section class="titleProduct">
        <h2>Título</h2>
    </section>

    <section class="sectionDescription">
        <span>99</span>
        <p>Revamp your style with the latest designer trends in men’s clothing or achieve a perfectly curated wardrobe thanks to our line-up of timeless pieces.</p>

        <span style='font-size:10px;'>&#9711;</span>
    </section>

    <section>Color</section>

    
  </body>
</html>
