<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../public/css/geral.css">
  <script src="https://kit.fontawesome.com/1051284148.js" crossorigin="anonymous"></script>
  <!--Importação da Lupa-->

  <title>Produto</title>
</head>

<body>
  <header>
    <div>
      <a href="#">Home</a>
      <a href="#">Categorias</a>
      <a href="#">Contato</a>
      <a href="#">Área do assinante</a>
    </div>

  </header>

  <main>

  </main>

  <footer>

  </footer>




</body>

</html>