* {
  box-sizing: border-box;
}

/* 25/11/22: Objetivos deste co-learning:
zerar o css
*/
body {
  margin: 0;
  padding: 0;
}

/*
Header.... fundo amarelo de fora a fora com 60px de altura. O conteúdo dele guarda 100px de distância das laterais
*/
header {
  background-color: #333;
  height: 60px;
  width: 100%;
}

header div {
  margin: 0 100px;	
  height: 100%;
 /* background-color: green;*/
  display: flex;
  gap: 5px;
}

header div a {
 /* background-color: aqua;*/
  display: flex;
  align-items: center;
  padding: 0 15px;
  text-decoration: none;
  color: #FFF
}

header div a:hover{
  background-color:aqua;
  color: #333
}

header div a:last-child{
  margin-left: auto;
}

/*
main... fundo rosa, tambem de fora a fora
mas o conteúdo dele ficará centralizado à uma distância de 100px das laterais e 50px do topo e do fundo
*/

/*
footer.... fundo amarelo de fora a fora com 60px de altura
*/